@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background: #1a1a21;
  background: -webkit-gradient(linear, left top, left bottom, from(#1a1a21), color-stop(40%, #2a2a3c), to(#808485));
  background: linear-gradient(180deg, #1a1a21 0%, #2a2a3c 40%, #808485 100%);
  color: #000;
  text-align: left;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, p {
  color: #0A122A;
  margin: 1rem;
  /* aplica a los 4: top, right, bottom y left  */
  padding-left: 2rem;
  padding-right: 2rem;
}

nav ul, nav ul a, nav ul a:visited {
  display: block;
  text-decoration: none;
  list-style: none;
  /*  elimina el marcador de lista */
  margin-bottom: 2rem;
  /* crea el espacio entre la navegación en el contenido situado debajo */
  text-align: center;
}

nav ul a:hover, nav ul a:active, nav ul a:focus, nav ul a a:hover, nav ul a a:active, nav ul a a:focus, nav ul a:visited a:hover, nav ul a:visited a:active, nav ul a:visited a:focus {
  color: #4C616D;
  text-decoration: none;
}

mark {
  /* Resalta parte de un texto */
  background-color: #fff;
}

header {
  display: block;
  margin-top: 0.2rem;
  height: 7.5rem;
  padding: 0.8rem;
  position: relative;
  background-image: url(../img-general/encabezado.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__logo {
  font-size: 2.5rem;
  font-style: italic;
  text-align: right;
  -webkit-transform: translateX();
          transform: translateX();
  -webkit-animation-name: intro;
          animation-name: intro;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes intro {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes intro {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.menu-n1 {
  display: inline-block;
  margin-right: 1.2rem;
  text-align: center;
  position: relative;
}

.menu-n1:hover {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  background-color: rgba(136, 136, 136, 0.86);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 1.2px solid  #555;
  border-top: 0;
  width: 160%;
  top: 3rem;
}

.submenu a {
  margin-bottom: 1rem;
}

section {
  display: block;
  padding: 0.4rem;
  line-height: 1.7;
}

article {
  display: block;
  background: #ffffff;
  background-size: auto;
  -webkit-box-shadow: 0 0 3px 3px #888;
  box-shadow: 0 0 3px 3px #888;
}

article img {
  -webkit-transition: all 0.7s ease-out 0.2s;
  transition: all 0.7s ease-out 0.2s;
  border-radius: 1.5rem;
  border: 0.1rem solid #999990;
  width: 30rem;
}

article img:hover {
  border: 1px solid #0e256b;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  display: block;
  border-top: 3px solid #999990;
  padding: 0.5rem;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #454545), color-stop(50%, #ACACAC), color-stop(100%, #8A8A8A));
  position: relative;
  clear: both;
  text-align: center;
  font-size: 1.8rem;
}

a img {
  /* elimina el borde azul alrededor de una imagen cuando tiene un vínculo */
  border: none;
  border-color: #425364;
}

figcaption {
  font-size: 90%;
  text-align: center;
}

input[type=text], input[type=extarea], input[type=submit] {
  width: 70%;
  padding: 0.5em;
  font-size: 1em;
  margin-bottom: 1.3em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div.cform-response-output {
  text-align: center;
  margin-left: 40% !important;
  margin-top: 0.5em !important;
  padding: 0.5em !important;
  border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
}

.galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem 0.5rem;
  justify-items: center;
  text-align: center;
  overflow: hidden;
}

.whatsapp {
  position: fixed;
  width: 5rem;
  bottom: 3rem;
  right: 9rem;
  -webkit-animation-name: WP;
          animation-name: WP;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes WP {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes WP {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* ~~ Este contenedor de anchura fija rodea a todas las demás bloques ~~ */
.container {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  background: -webkit-linear-gradient(top, #C1C2C6 20%, #C0C0C0 100%);
  /* Chrome10+,Safari5.1+ */
  -webkit-box-shadow: #b4b9c8 -2px 2px 1px;
          box-shadow: #b4b9c8 -2px 2px 1px;
}

/* No se asigna una anchura al encabezado ya que se extenderá por toda la anchura del diseño. */
.tabla {
  padding: 1.2rem;
  border: 0.2rem solid #ccc;
  background-color: #eee;
  text-align: left;
}

.tabla p {
  clear: both;
  color: #666;
}

.tabla .titulo {
  background-color: #ddd;
  border-right: 1px solid #ccc;
  font-weight: bold;
}

.tabla .columna {
  float: left;
  width: 47%;
  text-align: center;
}

.content {
  padding: 0.5rem;
  width: 80%;
  float: left;
}

.content ul, .content ol {
  padding: 0 1.5rem 1.5rem 4rem;
}

.contactForm textarea {
  height: 10rem;
  width: 70%;
  border: 1;
  font-size: 1em;
  margin-bottom: 1.3em;
  text-align: left;
  vertical-align: left;
}

#derecha {
  display: -ms-grid;
  display: grid;
  width: 13rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}

#derecha img {
  width: 10rem;
  border-radius: 1rem;
}

#derecha p {
  padding: 0.3rem;
  margin: 0.1rem;
}

/* Los estilos de vínculos deben permanecer en este orden: link / visited / hover */
a:link, a:visited {
  color: #FFFFF0;
  text-shadow: #000096 1px 1px 1px;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #666;
  text-shadow: #000032 0px 1px 1px;
  text-decoration: none;
}

.servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  color: #666;
}

.servicios a {
  text-decoration: none;
  text-shadow: none;
  color: #0e256b;
}

#mapasitio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#mapa a:link {
  text-decoration: none;
  text-shadow: none;
  color: #000023;
}

#mapa a:link a:hover, #mapa a:link a:active {
  color: #000030;
  text-shadow: #000032 0px 0px 1px;
}

#mapa a:link a:visited {
  text-decoration: none;
  color: #000030;
  text-shadow: #000032 0px 0px 1px;
}

#contacto, address {
  color: #FFF;
  text-shadow: #000096 1px 1px 1px;
  font-size: 1.4rem;
  font-style: normal;
}

#contact-form {
  position: relative;
  z-index: 999;
}

#contact-form input[type=text], #contact-form input[type=textarea] {
  border: 0;
  text-align: left;
  vertical-align: center;
}

#contact-form input[type=text]:focus, #contact-form textarea:focus {
  color: #555;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  transition: background 0.25 ease-in;
  -moz-transition: background 0.25 ease-in;
  -webkit-transition: background 0.25 ease-in;
}

#contact-form input[type=text] {
  margin-bottom: 30px;
}

#contact-form input[type=submit] {
  color: #fff;
  height: 60px;
  text-shadow: none;
  font-size: 1em;
  padding: 0.5em;
  letter-spacing: 0.05em;
  margin: 0 0 20px 0;
  border: 0;
  text-transform: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#contact-form input[type=submit]:hover, #contact-form input[type=submit]:active {
  background: #43413e !important;
}

#contact-form textarea {
  padding-top: 1em;
}

.imgprincipal {
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .content {
    width: 95%;
  }
  .galeria {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .whatsapp {
    width: 5rem;
    bottom: 2rem;
    right: 5rem;
  }
  #derecha {
    display: none;
  }
}
/*# sourceMappingURL=estilo.css.map */